{% extends 'base.html.twig' %}
{% block title %}Create Code{% endblock %}
{% block body %}
  <h1>Create a new Code</h1>
  {{ form_start(form) }}
    {{ form_row(form.title) }}
    {{ form_row(form.slug) }}
    {{ form_row(form.category) }}
    {{ form_row(form.content) }}
    {{ form_row(form.save) }}
  {{ form_end(form) }}
  <p><a href="{{ path('code.index') }}">← Back to list</a></p>
{% endblock %}